#backend
fastapi
uvicorn

#for env
python-dotenv

#frameworks
langchain
langchain-core
langchain-community
langgraph

#llm
langchain-groq

#embeddings
langchain-huggingface
sentence-transformers

#vectorDB
langchain-chroma
chromadb

pandas

#text processing
langchain-text-splitters

#tools
wikipedia
duckduckgo-search

#UI & environment
streamlit