#backend
fastapi
uvicorn

#env
python-dotenv

#frameworks
langchain
langchain-core
langchain-community
langgraph

#llm
langchain-groq

#embeddings
langchain-huggingface
sentence-transformers

#vectorDB
langchain-chroma
chromadb

#data processing
pandas

#text processing
langchain-text-splitters

#tools
wikipedia
duckduckgo-search

#API calls
requests

#UI
streamlit